@charset "UTF-8";

/* 全体のスタイルシート */
.wrapper {
    max-width: 1080px;
    margin: 0 auto 100px auto;
}

.img {
    width: 100%;
}

.sec-title {
    margin-bottom: 20px;
    font-size: 1.3rem;
    text-align: center;
}

.sec-title p {
    text-align: center;
}

.sec-text {
    text-align: center;
    font-size: 0.9rem;
}

/* headerのスタイルシート */
#header img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.site-title {
    position: absolute;
    top: 50px;
    right: 50px;
}

.site-title h1 {
    font-size: 0.9rem;
    color: #fff;
}

/* magazineのスタイルシート */
#magazine {
    margin-top: 80px;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.flex-box:first-child {
    margin-right: 20px;
}

.archive-img {
    position: relative;
}

.position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: ;
}

/* fashionのスタイルシート */
#fashion {
    position: relative;
    margin-bottom: 120px;
}

#fashion img {
    height: 500px;
}

.fashion-title {
    margin-bottom: 20px;
    font-size: 1.3rem;
    text-align: center;
}

.fashion-text {
    text-align: center;
    font-size: 0.9rem;
}

.fashion-position {
    position: absolute;
    top: 30%;
}

.link {
    padding: 15px 30px;
    border: solid 1px #ccc;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    position: absolute;
}

#catalog {
    background-color: #ccc;
}

.catalog-list {
    display: flex;
}

.antique-list {
    display: flex;
}

.catalog-list img,
.antique-list img {
    height: auto;
}

.catalog-text ,
.antique-text {
    font-size: 0.9rem;
} 

.catalog-items {
    width: 50%;
}

.antique-items {
    width: 50%;

}

.catalog-list {
    margin-bottom: 120px;
}

.catalog-list:first-child {

}

/* footerのスタイルシート */
.footer-list {
    margin-bottom: 50px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-title,
.footer-subtitle,
.footer-sectitle {
    width: 31%;
} 

.footer-copy {
    text-align: center;
    font-size: 0.7rem;
}
